body {
  font-family: "PT Sans", sans-serif;

  @media print {
    img {
      filter: grayscale(100%);
    }
  }
}

.section {
  &.section_background-gray {
    background-color: #e7e7e7;
  }

  &.section_background-uppset {
    background-color: #e7e7e7;
    background: linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 calc(100% ~"-" 100px),
      #fff calc(100% ~"-" 100px),
      #fff 100%
    );
  }
}

.section__title {
  text-align: center;
  font-size: 30px;
  color: rgb(34, 34, 34);
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 25px;
}

.section__sub-title {
  font-size: 16px;
  color: rgb(132, 132, 132);
  line-height: 1.625;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
  @media (max-width: 1280px) {
    padding-left: 0;
    padding-right: 0;
  }
}

// ELEMENTS
.container {
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;

  @media (max-width: 1280px) {
    width: 100%;
    min-width: unset;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.rounded-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.button {
}

.button_rounded {
  border-radius: 50%;
  width: 53px;
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgb(3, 3, 3);
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;

  &:not(:last-child) {
    margin-right: 15px;
  }

  &:hover {
    opacity: 1;
  }

  // Фикс центрирования иконок
  &.button_ios {
    img {
      margin-right: 1px;
      margin-bottom: 2px;
    }
  }

  &.button_windows {
    img {
      margin-right: 2px;
    }
  }

  &.button_linkedin {
    img {
      margin-top: -1px;
    }
  }

  &.button_youtube {
    img {
      margin-left: 2px;
      margin-top: -1px;
    }
  }
}

.section.section_header {
  height: 600px;
  background: url("../images/pattern.png") 100% 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;

  @media (max-width: 1280px) {
    height: 400px;
  }

  @media print {
    background: none;
    color: #000;
    height: 400px;
  }

  .container {
    position: relative;
    padding: 0 130px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-grow: 0;
    background: url("../images/hand.png");
    background-position: calc(100% ~"-" 70px) 100%;
    background-repeat: no-repeat;

    @media (max-width: 1280px) {
      padding: 0;
      padding-left: 25px;
      padding-right: 25px;
      align-items: center;
      background: none;
    }
    @media print {
      padding: 0;
      padding-left: 25px;
      padding-right: 25px;
      align-items: center;
      background: none;
      color: #000;
    }
  }
}

.section_header {
}

.header__logo {
  padding-bottom: 25px;
  a {
    height: auto;
    display: flex;

    img {
      @media print {
        filter: invert(100%);
      }
    }
  }
}

.header__slogan {
  text-shadow: 2px 3.464px 0px rgba(0, 1, 1, 0.25);
  padding: 25px 0;
  font-size: 24px;
  line-height: 36px;
  max-width: 470px;

  @media print {
    text-shadow: none;
  }
}

.features-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  @media (max-width: 740px) {
    flex-direction: column;
    padding-top: 25px;
  }
}

.feature {
  width: 33.333%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;

  &:not(:nth-last-child(-n + 3)):before {
    // горизонтальная
    content: "";
    width: calc(100% ~"-" 40px);
    height: 1px;
    background-color: #e3e3e3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  &:not(:nth-child(3n)):after {
    // вертикальная
    content: "";
    height: calc(100% ~"-" 40px);
    width: 1px;
    background-color: #e3e3e3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }

  @media (max-width: 1280px) {
    width: 50%;

    &:after {
      content: "";
      height: calc(100% ~"-" 40px);
      width: 1px;
      background-color: #e3e3e3;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
    }
    &:nth-child(2n):after {
      content: none;
    }
    &:before {
      // горизонтальная
      content: "";
      width: calc(100% ~"-" 40px);
      height: 1px;
      background-color: #e3e3e3;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 0;
    }
    &:nth-last-child(-n + 2):before {
      content: none;
    }
  }

  @media (max-width: 740px) {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 12px;
    flex-direction: row;

    &:not(:last-child) {
      border-bottom: 1px solid #e3e3e3;
    }

    &:before,
    &:after,
    &:not(:nth-last-child(-n + 3)):before,
    &:not(:nth-child(3n)):after {
      content: none;
    }
  }
}

.feature__image {
  @media (max-width: 740px) {
    display: inline-flex;
  }
}

.feature__description {
  text-align: center;
  max-width: 300px;
  @media (max-width: 740px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
    width: 100%;
    max-width: unset;
  }
}

.feature__title {
  font-weight: 600;
  font-size: 24px;
  color: rgb(34, 34, 34);
  padding-bottom: 20px;
  padding-top: 25px;
  @media (max-width: 740px) {
    text-align: left;
    padding-top: 0;
  }
}

.feature__sub-title {
  font-size: 16px;
  color: rgb(132, 132, 132);
  line-height: 1.625;
  text-align: center;
  @media (max-width: 740px) {
    text-align: left;
  }
}

.section.section_about {
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    @media (max-width: 1280px) {
      flex-direction: column;
    }
  }

  .container__left {
    max-width: 550px;
    @media (max-width: 1280px) {
      max-width: unset;
      width: 100%;
    }
    @media print {
      max-width: unset;
      width: 100%;
    }
  }

  .container__right {
    padding-top: 25px;
    padding-bottom: 25px;
    @media (max-width: 1280px) {
      max-width: unset;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
    }
    @media print {
      display: none;
    }
  }

  .section__title {
    text-align: left;
    @media print {
      text-align: center;
    }
  }

  p {
    margin-bottom: 25px;
    color: #848484;
  }

  ul {
    li {
      color: #848484;
      padding-left: 40px;
      padding-top: 9px;
      padding-bottom: 9px;
      background: url("../images/bullet.svg") 12px 50% no-repeat;
    }
  }

  iframe {
    border-radius: 8px;
  }
}

.slide__quote {
  font-size: 24px;
  color: rgb(132, 132, 132);
  line-height: 1.333;
  text-align: center;
  font-style: italic;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  span {
    display: inline-block;
    max-width: 1000px;

    &:before {
      content: "“";
    }
    &:after {
      content: "”";
    }
  }
}

.slide__quote-autor {
  text-align: center;
  font-weight: 600;
}

.slider__controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.slider-control {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  display: inline-flex;
  box-shadow: inset 0 0 0 2px #3498db;
  transition: background-color ease-in-out 0.3s;

  &:not(:last-child) {
    margin-right: 5px;
  }

  &.slider-control_active {
    background-color: #3498db;
  }

  &:hover:not(.slider-control_active) {
    background-color: fade(#3498db, 50%);
  }
}

.pricing-plans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;

  @media (max-width: 1280px) {
    flex-wrap: wrap;
  }
  @media print { 
    flex-wrap: wrap;
  }
}

.pricing-plan {
  width: 25%;

  @media (max-width: 1280px) {
    width: calc(50% ~"-" 6px);
    margin-bottom: 12px;
  }

  @media print {
    width: calc(50% ~"-" 6px);
    margin-bottom: 12px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }

  &:not(:first-child):not(:last-child) {
    width: calc(25% ~"-" 6px);
    @media (max-width: 1280px) {
      width: calc(50% ~"-" 6px);
    }
    @media print {
      width: calc(50% ~"-" 6px);
    }
    @media (max-width: 600px) {
      width: 100%;
    }
  }

  background-color: #fff;
}

.pricing-plan__header {
  background-color: #3498db;
  color: #fff;
  height: 55px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 500;
}

.pricing-plan__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70px;
  font-size: 42px;
  color: rgb(34, 34, 34);
  font-weight: bold;

  span {
    padding-left: 25px;
    padding-right: 30px;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      content: "$";
    }
  }

  sup {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 4px;
  }
}

.pricing-plan__list {
  padding-left: 20px;
  padding-right: 20px;
  ul {
    li {
      border-top: 1px solid #c2c2c2;
      text-align: center;
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }
  @media (max-width: 1280px) {
    min-height: 250px;
  }
  @media print {
    min-height: 250px;
  }
}

.pricing-plan__footer {
  background-color: #3498db;
  color: #fff;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .button {
    background-color: #0d74b9;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 40px;
    text-decoration: none;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    transition: background-color ease-in-out 0.3s;

    &:hover {
      text-decoration: none;
      background-color: darken(#0d74b9, 5%);
    }
  }
}

.section.section_social {
  .container {
    padding-top: 0;
  }

  .section__title {
    margin-top: 12px;
  }

  .rounded-buttons-wrapper {
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.section.section_footer {
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;

    li {
      display: inline-flex;

      &:not(:last-child) {
        margin-right: 36px;
      }

      a {
        font-size: 16px;
        color: rgb(132, 132, 132);
        line-height: 1.625;
        text-decoration: none;
      }
    }
  }
}
