body {
  font-family: "PT Sans", sans-serif;
}
@media print {
  body img {
    filter: grayscale(100%);
  }
}
.section.section_background-gray {
  background-color: #e7e7e7;
}
.section.section_background-uppset {
  background-color: #e7e7e7;
  background: linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 calc(100% - 100px), #fff calc(100% - 100px), #fff 100%);
}
.section__title {
  text-align: center;
  font-size: 30px;
  color: #222222;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 25px;
}
.section__sub-title {
  font-size: 16px;
  color: #848484;
  line-height: 1.625;
  text-align: center;
  padding-left: 80px;
  padding-right: 80px;
}
@media (max-width: 1280px) {
  .section__sub-title {
    padding-left: 0;
    padding-right: 0;
  }
}
.container {
  min-width: 1200px;
  width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 1280px) {
  .container {
    width: 100%;
    min-width: unset;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.rounded-buttons-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: center;
      align-items: center;
}
.button_rounded {
  border-radius: 50%;
  width: 53px;
  height: 53px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: #030303;
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}
.button_rounded:not(:last-child) {
  margin-right: 15px;
}
.button_rounded:hover {
  opacity: 1;
}
.button_rounded.button_ios img {
  margin-right: 1px;
  margin-bottom: 2px;
}
.button_rounded.button_windows img {
  margin-right: 2px;
}
.button_rounded.button_linkedin img {
  margin-top: -1px;
}
.button_rounded.button_youtube img {
  margin-left: 2px;
  margin-top: -1px;
}
.section.section_header {
  height: 600px;
  background: url("../images/pattern.png") 100% 100% no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
@media (max-width: 1280px) {
  .section.section_header {
    height: 400px;
  }
}
@media print {
  .section.section_header {
    background: none;
    color: #000;
    height: 400px;
  }
}
.section.section_header .container {
  position: relative;
  padding: 0 130px;
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-positive: 0;
      flex-grow: 0;
  background: url("../images/hand.png");
  background-position: calc(100% - 70px) 100%;
  background-repeat: no-repeat;
}
@media (max-width: 1280px) {
  .section.section_header .container {
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
    -ms-flex-align: center;
        align-items: center;
    background: none;
  }
}
@media print {
  .section.section_header .container {
    padding: 0;
    padding-left: 25px;
    padding-right: 25px;
    -ms-flex-align: center;
        align-items: center;
    background: none;
    color: #000;
  }
}
.header__logo {
  padding-bottom: 25px;
}
.header__logo a {
  height: auto;
  display: -ms-flexbox;
  display: flex;
}
@media print {
  .header__logo a img {
    filter: invert(100%);
  }
}
.header__slogan {
  text-shadow: 2px 3.464px 0px rgba(0, 1, 1, 0.25);
  padding: 25px 0;
  font-size: 24px;
  line-height: 36px;
  max-width: 470px;
}
@media print {
  .header__slogan {
    text-shadow: none;
  }
}
.features-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
@media (max-width: 740px) {
  .features-list {
    -ms-flex-direction: column;
        flex-direction: column;
    padding-top: 25px;
  }
}
.feature {
  width: 33.333%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
}
.feature:not(:nth-last-child(-n + 3)):before {
  content: "";
  width: calc(100% - 40px);
  height: 1px;
  background-color: #e3e3e3;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.feature:not(:nth-child(3n)):after {
  content: "";
  height: calc(100% - 40px);
  width: 1px;
  background-color: #e3e3e3;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
@media (max-width: 1280px) {
  .feature {
    width: 50%;
  }
  .feature:after {
    content: "";
    height: calc(100% - 40px);
    width: 1px;
    background-color: #e3e3e3;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
  }
  .feature:nth-child(2n):after {
    content: none;
  }
  .feature:before {
    content: "";
    width: calc(100% - 40px);
    height: 1px;
    background-color: #e3e3e3;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }
  .feature:nth-last-child(-n + 2):before {
    content: none;
  }
}
@media (max-width: 740px) {
  .feature {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 12px;
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .feature:not(:last-child) {
    border-bottom: 1px solid #e3e3e3;
  }
  .feature:before,
  .feature:after,
  .feature:not(:nth-last-child(-n + 3)):before,
  .feature:not(:nth-child(3n)):after {
    content: none;
  }
}
@media (max-width: 740px) {
  .feature__image {
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
.feature__description {
  text-align: center;
  max-width: 300px;
}
@media (max-width: 740px) {
  .feature__description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: start;
        align-items: flex-start;
    padding-left: 20px;
    width: 100%;
    max-width: unset;
  }
}
.feature__title {
  font-weight: 600;
  font-size: 24px;
  color: #222222;
  padding-bottom: 20px;
  padding-top: 25px;
}
@media (max-width: 740px) {
  .feature__title {
    text-align: left;
    padding-top: 0;
  }
}
.feature__sub-title {
  font-size: 16px;
  color: #848484;
  line-height: 1.625;
  text-align: center;
}
@media (max-width: 740px) {
  .feature__sub-title {
    text-align: left;
  }
}
.section.section_about .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}
@media (max-width: 1280px) {
  .section.section_about .container {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
.section.section_about .container__left {
  max-width: 550px;
}
@media (max-width: 1280px) {
  .section.section_about .container__left {
    max-width: unset;
    width: 100%;
  }
}
@media print {
  .section.section_about .container__left {
    max-width: unset;
    width: 100%;
  }
}
.section.section_about .container__right {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (max-width: 1280px) {
  .section.section_about .container__right {
    max-width: unset;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
  }
}
@media print {
  .section.section_about .container__right {
    display: none;
  }
}
.section.section_about .section__title {
  text-align: left;
}
@media print {
  .section.section_about .section__title {
    text-align: center;
  }
}
.section.section_about p {
  margin-bottom: 25px;
  color: #848484;
}
.section.section_about ul li {
  color: #848484;
  padding-left: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  background: url("../images/bullet.svg") 12px 50% no-repeat;
}
.section.section_about iframe {
  border-radius: 8px;
}
.slide__quote {
  font-size: 24px;
  color: #848484;
  line-height: 1.333;
  text-align: center;
  font-style: italic;
  padding-top: 25px;
  padding-bottom: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.slide__quote span {
  display: inline-block;
  max-width: 1000px;
}
.slide__quote span:before {
  content: "“";
}
.slide__quote span:after {
  content: "”";
}
.slide__quote-autor {
  text-align: center;
  font-weight: 600;
}
.slider__controls {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
.slider-control {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #fff;
  display: -ms-inline-flexbox;
  display: inline-flex;
  box-shadow: inset 0 0 0 2px #3498db;
  transition: background-color ease-in-out 0.3s;
}
.slider-control:not(:last-child) {
  margin-right: 5px;
}
.slider-control.slider-control_active {
  background-color: #3498db;
}
.slider-control:hover:not(.slider-control_active) {
  background-color: rgba(52, 152, 219, 0.5);
}
.pricing-plans {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  padding-top: 30px;
}
@media (max-width: 1280px) {
  .pricing-plans {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media print {
  .pricing-plans {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.pricing-plan {
  width: 25%;
  background-color: #fff;
}
@media (max-width: 1280px) {
  .pricing-plan {
    width: calc(50% - 6px);
    margin-bottom: 12px;
  }
}
@media print {
  .pricing-plan {
    width: calc(50% - 6px);
    margin-bottom: 12px;
  }
}
@media (max-width: 600px) {
  .pricing-plan {
    width: 100%;
  }
}
.pricing-plan:not(:first-child):not(:last-child) {
  width: calc(25% - 6px);
}
@media (max-width: 1280px) {
  .pricing-plan:not(:first-child):not(:last-child) {
    width: calc(50% - 6px);
  }
}
@media print {
  .pricing-plan:not(:first-child):not(:last-child) {
    width: calc(50% - 6px);
  }
}
@media (max-width: 600px) {
  .pricing-plan:not(:first-child):not(:last-child) {
    width: 100%;
  }
}
.pricing-plan__header {
  background-color: #3498db;
  color: #fff;
  height: 55px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  font-size: 28px;
  font-weight: 500;
}
.pricing-plan__price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 70px;
  font-size: 42px;
  color: #222222;
  font-weight: bold;
}
.pricing-plan__price span {
  padding-left: 25px;
  padding-right: 30px;
  position: relative;
}
.pricing-plan__price span:before {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  content: "$";
}
.pricing-plan__price sup {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 4px;
}
.pricing-plan__list {
  padding-left: 20px;
  padding-right: 20px;
}
.pricing-plan__list ul li {
  border-top: 1px solid #c2c2c2;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media (max-width: 1280px) {
  .pricing-plan__list {
    min-height: 250px;
  }
}
@media print {
  .pricing-plan__list {
    min-height: 250px;
  }
}
.pricing-plan__footer {
  background-color: #3498db;
  color: #fff;
  height: 80px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.pricing-plan__footer .button {
  background-color: #0d74b9;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  transition: background-color ease-in-out 0.3s;
}
.pricing-plan__footer .button:hover {
  text-decoration: none;
  background-color: #0b65a1;
}
.section.section_social .container {
  padding-top: 0;
}
.section.section_social .section__title {
  margin-top: 12px;
}
.section.section_social .rounded-buttons-wrapper {
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 25px;
  padding-bottom: 25px;
}
nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
nav ul {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  list-style: none;
}
nav ul li {
  display: -ms-inline-flexbox;
  display: inline-flex;
}
nav ul li:not(:last-child) {
  margin-right: 36px;
}
nav ul li a {
  font-size: 16px;
  color: #848484;
  line-height: 1.625;
  text-decoration: none;
}
